
#app .table {
  .pager {
    padding-bottom: .5rem;
  }
  table {

    thead {
      th {
        .title {
        }
        .sort {
          width: .7rem;

          &.active {
            background: #bae3ba;
            border-radius: .2rem;
          }
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background: #f4f4ff;
        }

        &:nth-child(2n) {
          background: #efefef;
          &:hover {
            background: #e8e8ef;
          }
        }
        td {
          padding: .2rem .5rem;

          &.right {
            text-align: right;
          }
        }
      }
    }
  }
}