@import "comps/Number";
@import "comps/Snapshots";
@import "comps/Table";

body {
  font-family: monospace;
}

#app-container {
  position: relative;

  #app {
    width: 70%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1300px) {
      width: 90%;
    }
    @media (max-width: 900px) {
      width: 98%;
    }


    .hidden {
      display: none;
    }

    .clickable {
      cursor: pointer;
    }

    .grid-x {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &.nowrap {
        flex-wrap: nowrap;
      }

      &.margin-right > * {
        margin-right: .5rem;
      }
      &.margin-bottom > * {
        margin-bottom: .5rem;
      }

      .grow {
        flex-grow: 1000;
      }

      .inline {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .error {
      background: #caa;
      padding: .5rem;
    }
  }
}